body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 750px;
    margin: auto;
    overflow-wrap: normal;
}

footer {
    font-size: 12px;
    text-align: center;
}

h1 {
    color: #93a1a1;
}

a {}

li {
    display: inline;
}

ul {
    list-style-type: none;
    background-color: #657b83;
    margin: 0;
    padding: 0;
}


li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

nav {
    color: #000;
    background-color: #657b83;
    padding: 8px 16px;
}

nav:hover {
    background-color: #555;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: underline;
}